/* визуализация блоков удалить */
* {
	/* outline: 1px solid #DE0C35;
	border: 1px solid red; */
}

/* обнуление стилей */


body {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	border: none;
	/* display: inline-block; */
	/* font-size: 0;    */
	width: 100%;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
	color: var(--mein-black);
	display: inline-block;
}

ul, ul, li {
	list-style: none;
	padding: 0;
}

button {
	padding: 0;
	outline: 1px solid var(--darkgrey);
	border: none; 
}

input {
	padding: 0;
	outline: 1px solid var(--darkgrey);
	border: none; 
}

span, p {
	font-size: 14px;
}

h1, h2, h3 {
	font-size: 30px;
}