/* визуализация блоков удалить */
* {
	/* outline: 1px solid #DE0C35;
	border: 1px solid red; */
}
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

html {
  font-size: clamp(62.5%, 0.625rem + 0.2vw, 150%);
}

:root {
  /* ================= FONT ================= */
  --font-main: 'Manrope', sans-serif;

  --fs-small: 1.2rem;   /* Caption: (Подписи, мелкие детали) */
  --fs-base: 1.6rem;    /* Body: основной читаемый текст — золотая середина). */
  --fs-button: 1.4rem;  /*текст кнопок*/
  --fs-small-button: 1rem;  /*текст мелких кнопок кнопок*/
  --fs-h3: 1.8rem;      /* H3/Lead: Заголовки окон */
  --fs-xl: 2.4rem;      /* H2: главные заголовки экранов */

  /* ================= SPACING ================= */
  --space-xs: 0.4rem; /* Tiny: зазоры внутри элементов */
  --space-sm: 0.8rem; /* Small: между мелкими элементами */
  --space-md: 1.6rem; /* Самый частый отступ Medium: между логическими группами */
  --space-lg: 2.4rem; /* 24px */
  --space-xl: 3.2rem; /* Large: внешние отступы контейнеров */
  /* ================= RADIUS ================= */
  --br-sm: 0.4rem;    /*(для маленьких кнопок/инпутов)*/
  --br-md: 1.2rem;    /*(для основных карточек, как на макете)*/

  /* ================= SHADOW ================= */
  --shd-low: 0 2px 8px rgba(0,0,0,0.2);/*(едва заметная)*/
  --shd-high: 0 8px 20px rgba(0,0,0,0.3);/*(для акцента)*/

  /* ================= PALETTE ================= */
  /* ---------------- ОСНОВНОЙ ЦВЕТ primary ----------------   */
  --primary-100: #d0e4e3;/* Для мягких подсветок фоны карточек, hover */
  --primary-500: #0ea5e9;/* Главный цвет: лого, активные элементы */
  --primary-700: #025d57;/* Темнее для наведения (hover) */

  /* ---------------- АКЦЕНТ / КНОПКИ  ---------------- */
  --accent-100: #f9e8d4;/* легкий фон/hover на карточках */
  --accent-500: #ffa200;/* акцентные кнопки, badges, promo */
  --accent-700: #b56b33;/* hover/active для акцентов */

  /* gray scale */
  --gray-50:  #faf9f5;/* фоны блоков и секций */
  --gray-100: #f0ede4;/* светлый фон карточек */
  --gray-300: #d8d3c3;/* бордеры, разделители */
  --gray-500: #7d7d85;/* второстепенный текст */
  --gray-700: #4a4a52;/* Читабельный текст */

  /* ================= SEMANTIC TOKENS ================= */
  --color-bg: var(--gray-50);
  --color-surface: #fefefe;
  --color-border: var(--gray-300);

  --color-text-main: #303036;
  --color-text-muted: var(--gray-500);

  --color-primary: var(--primary-500);
  --color-primary-hover: var(--primary-700);

  --color-accent: var(--accent-500);
  --color-accent-hover: var(--accent-700);

  --color-success: #63a088;
  --color-error:   #b14a4a;
  --color-warning: #c9a54d;
  --color-info:    #5b7b7a;

  /* ================= MOTION ================= */
  --t-fast: 0.2s ease;
}

.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: var(--space-sm) var(--space-md);
  font-size: var(--fs-button);
  font-weight: 500;

  color: var(--color-surface);
  background-color: var(--color-accent);
  border-radius: var(--br-md);
 
  box-shadow: var(--shd-low);
  transition: transform var(--t-fast), box-shadow var(--t-fast);
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: var(--shd-high);
  background-color: var(--color-accent-hover);
}

.btn:active{
    transform: translateY(0);
  box-shadow: var(--shd-low);
}

/*HEADER*/
.main-header {
  /* position: fixed; */
  position: sticky;
  inset: 0 0 auto 0;
  z-index: 90;
  background-color: var(--gray-100);
  border-bottom: 1px solid var(--gray-300);
}


.header-container {
  max-width: 90rem; /* ≈1440px */
  margin: 0 auto;
  padding: var(--space-md) var(--space-lg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-md);
}

.logo-box {
  display: flex;
  
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: var(--color-primary);
}

.logo-box strong {
  color: var(--primary-500);
  transition: transform var(--t-fast);
  
}

.logo-box:hover strong {
  color: var(--primary-700);
  transform: translateY(-2px);
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.nav-list {
  display: flex;
  gap: var(--space-lg);
  flex-wrap: wrap; /* Если ссылок много, они выстроятся в 2 ряда вместо наплыва */
  justify-content: center;
}

.main-nav a {
  font-size: var(--fs-base);
  font-weight: 500;
  color: var(--color-text-main);
  transition: color var(--t-fast);
}

.main-nav a:hover {
  color: var(--color-primary);
}

 .btn-sign-in {
  padding: var(--space-xs) var(--space-md);
}

.btn-profile{
  padding: var(--space-sm) var(--space-sm);
  
  width: 2.3rem;
  height: 2.3rem; 
}

.btn-admin{
  
  padding: var(--space-sm) var(--space-sm);
  width: 2.3rem;
  height: 2.3rem; 

}

/*BODY*/

.nav-link, .logo-box, .btn-sign-in {
  white-space: nowrap; 
}


body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  /* min-height: 100vh; */
  font-family: var(--font-main);
  font-size: var(--fs-base);
  line-height: 1.5;
  background-color: var(--color-bg);
  color: var(--color-text-main);
}


.content-wrapper{
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 0;
  flex-grow: 1; 
  overflow: hidden;
}

.main_window{
  overflow-y: auto; 
  height: 100%;
}

.content {
  padding: var(--space-md) var(--space-lg);
}

/* ================= sidebar ================= */



.sidebar{
  overflow-y: auto;
}

.aside{
  /* width: min(100%, 18rem); */
}







/* ================= AUTH OVERLAY ================= */
.auth-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.auth-backdrop{
  position: absolute;
  
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);

  transition: opacity var(--t-fast);
  z-index: -1;
}



/* ================= AUTH CARD ================= */
.auth-card {
  position: relative;
  display: flex;
  flex-direction: column;

  /* width: min(100%, 24rem); */
  padding: var(--space-lg);/*слабое место сильно раздувает карточку*/
  width: fit-content;
  /* width: 100%; */
  /* max-width: calc(100% - 20px);*/
  min-width: 18rem;
  /* width: clamp(18rem, 40vw, 32rem); */

  background-color: var(--color-bg);
  border-radius: var(--br-md);
  box-shadow: var(--shd-high);

  border: 1px solid rgba(0,0,0,0.05);

  transform: translateY(0);
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translate(0, 0); }
  33% { transform: translate(3px, -4px); }
  66% { transform: translate(-3px, -2px); }
  100% { transform: translate(0, 0); }
}
/* ================= EXIT BUTTON ================= */
.btn-exit {
  position: absolute;
  top: var(--space-sm);
  right: var(--space-sm);
  line-height: 1;
  width: 1.6rem;
  height: 1.6rem;
  z-index: 8;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-text-muted);
  background-color: var(--gray-100);
  border: 1px solid var(--gray-300);
  border-radius: var(--br-sm);

  cursor: pointer;
  transition: background-color var(--t-fast), color var(--t-fast);
  
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.btn-exit:hover {

  background-color: var(--color-error);
  color: var(--color-surface);
}
.btn-exit svg {
    width: 80%;  /* Крестик будет занимать 60% от размера кнопки */
    height: 80%;
    display: block; /* Убираем лишние зазоры */
}
.btn-exit:hover svg path {
    stroke-width: 3; /* Сделаем крестик жирнее при наведении */
    transition: stroke-width 0.2s ease;
}
/* ================= CONTENT / FORMS ================= */
.auth-content {
  display: grid;
  grid-template-columns: 1fr;
  /* width: 100%; */
}

.auth-form-login{
  grid-area: 1 / 1;
  transition: opacity 0.3s ease;
}

.auth-form-reg{
  grid-area: 1 / 1;
  transition: opacity 0.3s ease;
}

.auth-card form {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.auth-spacer {
  flex-grow: 1; /* Забирает всё свободное пространство */
  min-height: var(--space-md);
}

/* ================= LABEL / INPUT ================= */
.auth-card label {
  font-size: var(--fs-button);
  font-weight: 500;
  color: var(--color-text-muted);
  margin-bottom: calc(var(--space-xs) * -1);
}

.auth-card input {
  width: 10rem;
  min-width: 100%;
  /* width: 10rem;             Занимать всё место внутри карточки */
   /*max-width: 100%;         /*Не вылезать за рамки ни при каких условиях*/
  /* min-width: 0;
  display: block;          /* Чтобы не было inline-глюков */
  box-sizing: border-box;
  display: block;
  /* max-width: 100%; */
  padding: var(--space-xs) var(--space-sm);
  font-size: var(--fs-base);

  border-radius: var(--br-sm);
  border: 1px solid var(--gray-500);
  background-color: var(--gray-100);
  transition: all var(--t-fast) ease;

  border-color: var(--gray-300);
}

.auth-card input:hover {
  /* background-color: var(--gray-50); Инпут как бы "подсвечивается" изнутри */
  border-color: var(--gray-500);    /* Граница становится чуть строже */
}

.auth-card input:focus {
  outline: none;
  background-color:var(--color-surface);
  border-color: var(--color-primary);
  box-shadow: 0 0 0 3px var(--primary-100);
}

input:focus::placeholder {
  transition: opacity 0.3s ease;
    opacity: 0;
}

/* ================= TABS ================= */
.switch-tabs {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  width: 100%;
  margin-bottom: var(--space-md);
  border-bottom: 1px solid var(--gray-100);
  padding-right: 1rem; /* Резервируем место под крестик, чтобы табы под него не заплывали */
  box-sizing: border-box;
}

.switch-tabs button {
  padding: var(--space-sm);
  font-size: var(--fs-button);
  font-weight: 500;

  background: none;
  border: none;
  cursor: pointer;

  color: var(--color-text-muted);
  transition: color var(--t-fast);
  position: relative;
}

.switch-tabs button:not(.is-active):hover {
  color: var(--color-primary);
}

.switch-tabs button.is-active {
  color: var(--color-primary);
  font-weight: 700;
}

.switch-tabs button.is-active::after {
  content: '';
  position: absolute;
  inset: auto 0 -1px 0;
  height: 2px;
  background-color: var(--color-primary);
}

/* ================= SUBMIT BUTTON ================= */
.btn-submit {
  margin-top: var(--space-lg);
}


/* ================= Status buttons ================= */
/* .auth-box .btn-sign-in, 
.auth-box .btn-profile, 
.auth-box .btn-admin { 
  display: none; 
}


.auth-box[data-status="guest"] .btn-sign-in { display: inline-flex; }


.auth-box[data-status="user"] .btn-profile { display: inline-flex; }


.auth-box[data-status="admin"] .btn-admin { display: inline-flex; }  */


.auth-box {
  display: flex; 
  align-items: center;
  justify-content: center;
  /* margin-left: var(--space-md); */
  width: 6rem; 
  /* Это критично: запрещаем хедеру сжимать этот блок */
  flex-shrink: 0;
}



/* Показываем нужное */

body[data-status="guest"] .btn-sign-in { display: inline-block; }

body[data-status="guest"] .btn-profile { display: none; }

body[data-status="guest"] .btn-admin { display: none; }



body[data-status="user"] .btn-sign-in { display: none; }

body[data-status="user"] .btn-profile { display: inline-block; }

body[data-status="user"] .btn-admin { display: none; }



body[data-status="admin"] .btn-sign-in { display: none; }

body[data-status="admin"] .btn-profile { display: none; }

body[data-status="admin"] .btn-admin { display: inline-block; }





/* ================= VISIBILITY ================= */
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-none {
  display: none !important;
}



/* Для Инпутов (Поля ввода):

Убери стандартные рамки: border: 1px solid var(--gray-300).

Добавь transition: border-color 0.3s.

При focus (когда кликаешь в поле) меняй цвет рамки на наш Teal (--color-primary-500). */