/* визуализация блоков удалить */
* {
	/* outline: 1px solid #DE0C35;
	border: 1px solid red; */
}
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

html {
  font-size: clamp(62.5%, 0.625rem + 0.2vw, 150%);
}

:root {
  /* ================= FONT ================= */
  --font-main: 'Manrope', sans-serif;

  --fs-small: 1.2rem;   /* Caption: (Подписи, мелкие детали) */
  --fs-base: 1.6rem;    /* Body: основной читаемый текст — золотая середина). */
  --fs-button: 1.4rem;  /*текст кнопок*/
  --fs-small-button: 1rem;  /*текст мелких кнопок кнопок*/
  --fs-h3: 1.8rem;      /* H3/Lead: Заголовки окон */
  --fs-xl: 2.4rem;      /* H2: главные заголовки экранов */

  /* ================= SPACING ================= */
  --space-xs: 0.4rem; /* Tiny: зазоры внутри элементов */
  --space-sm: 0.8rem; /* Small: между мелкими элементами */
  --space-md: 1.6rem; /* Самый частый отступ Medium: между логическими группами */
  --space-lg: 2.4rem; /* 24px */
  --space-xl: 3.2rem; /* Large: внешние отступы контейнеров */
  /* ================= RADIUS ================= */
  --br-sm: 0.4rem;    /*(для маленьких кнопок/инпутов)*/
  --br-md: 1.2rem;    /*(для основных карточек, как на макете)*/

/* ================= SHADOW ================= */
/* Почти плоская тень для обычных кнопок */
--shd-flat: -2px 2px 4px rgba(0,0,0,0.1);

/* Твоя рабочая тень для сайдбара (левая) */
--shd-low: -4px 4px 12px -3px rgba(0,0,0,0.2);

/* Тень при наведении (Hover) — "взлет" */
--shd-medium: -6px 8px 20px -5px rgba(0,0,0,0.3);

/* Тень для модалок (High) — очень глубокая */
--shd-high: 0 12px 30px -10px rgba(0,0,0,0.4);

  /* ================= PALETTE ================= */
  /* ---------------- ОСНОВНОЙ ЦВЕТ primary ----------------   */
  --primary-100: #d0e4e3;/* Для мягких подсветок фоны карточек, hover */
  --primary-500: #0ea5e9;/* Главный цвет: лого, активные элементы */
  --primary-700: #0369a1;/* Темнее для наведения (hover) */

  /* ---------------- АКЦЕНТ / КНОПКИ  ---------------- */
  --accent-100: #f9e8d4;/* легкий фон/hover на карточках */
  --accent-500: #ffa200;/* акцентные кнопки, badges, promo */
  --accent-700: #b56b33;/* hover/active для акцентов */

  /* gray scale */
  --gray-50:  #faf9f5;/* фоны блоков и секций */
  --gray-100: #f0ede4;/* светлый фон карточек */
  --gray-300: #d8d3c3;/* бордеры, разделители */
  --gray-500: #7d7d85;/* второстепенный текст */
  --gray-700: #4a4a52;/* Читабельный текст */

  /* ================= SEMANTIC TOKENS ================= */
  --color-bg: var(--gray-50);
  --color-surface: #fefefe;
  --color-border: var(--gray-300);
  --color-sidebar: #eceae0;

  --color-text-main: #303036;
  --color-text-muted: var(--gray-500);

  --color-primary: var(--primary-500);
  --color-primary-hover: var(--primary-700);

  --color-accent: var(--accent-500);
  --color-accent-hover: var(--accent-700);

  --color-success: #63a088;
  --color-error:   #b14a4a;
  --color-warning: #c9a54d;
  --color-info:    #5b7b7a;

  /* ================= MOTION ================= */
  --t-fast: 0.2s ease;
}

.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: var(--space-sm) var(--space-md);
  font-size: var(--fs-button);
  font-weight: 500;

  color: var(--color-surface);
  background-color: var(--color-accent);
  border-radius: var(--br-md);
 
  box-shadow: var(--shd-low);
  transition: transform var(--t-fast), box-shadow var(--t-fast);
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: var(--shd-high);
  background-color: var(--color-accent-hover);
}

.btn:active{
  transform: translateY(0);
  box-shadow: var(--shd-low);
}

/*HEADER*/
.main-header {
  /* position: fixed; */
  position: sticky;
  inset: 0 0 auto 0;
  z-index: 90;
  background-color: var(--primary-700);
  border-bottom: 1px solid var(--gray-300);
}


.header-container {
  max-width: 90rem; /* ≈1440px */
  margin: 0 auto;
  padding: var(--space-md) var(--space-lg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-md);
}

.logo-box {
  display: flex;
  
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: var(--color-primary);
}

.logo-box strong {
  color: var(--primary-500);
  transition: transform var(--t-fast);
  
}

.logo-box:hover strong {
  color: var(--accent-500);
  transform: translateY(-2px);
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.logo-box:active strong {
  color: var(--accent-500);
  transform: translateY(0px);
  
}


.nav-list {
  display: flex;
  gap: var(--space-lg);
  flex-wrap: wrap; /* Если ссылок много, они выстроятся в 2 ряда вместо наплыва */
  justify-content: center;
}

.main-nav a {
  font-size: var(--fs-base);
  font-weight: 500;
  color: var(--color-text-main);
  transition: color var(--t-fast);
}

.main-nav a:hover {
  color: var(--color-primary);
}

.auth-box {
  display: flex; 
  align-items: center;
  justify-content: center;
  /* margin-left: var(--space-md); */
  width: 6rem; 
  /* Это критично: запрещаем хедеру сжимать этот блок */
  flex-shrink: 0;
}

 .btn-sign-in {
  padding: var(--space-xs) var(--space-md);
}

.btn-profile{
  padding: var(--space-sm) var(--space-sm);
  
  width: 2.3rem;
  height: 2.3rem; 
}

.btn-admin{
  
  padding: var(--space-sm) var(--space-sm);
  width: 2.3rem;
  height: 2.3rem; 

}

/*BODY*/

.nav-link, .logo-box, .btn-sign-in {
  white-space: nowrap; 
}


body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  /* min-height: 100vh; */
  font-family: var(--font-main);
  font-size: var(--fs-base);
  line-height: 1.5;
  background-color: var(--color-bg);
  color: var(--color-text-main);
}


.content-wrapper{
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 0;
  flex-grow: 1; 
  overflow: hidden;
}

.main_window{
  overflow-y: auto; 
  height: 100%;
  
}

.content {
  position: relative;
  padding: var(--space-md) var(--space-lg);
}

/* ================= sidebar ================= */

.sidebar{
  display: flex;
  
  flex-direction: row;
  /* padding-right: var(--space-xs); */
  width: auto;
  min-width: 15rem;
  max-width: 50rem;
  z-index: 10;
  background-color:  var(--gray-100);
  transform: translateY(0);
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.sidebar h2{
  padding: 0rem 1rem ;
}

.options-navigation {
  border-right: 1px solid var(--gray-300);
  flex-shrink: 0;
  display: flex; 
  flex-direction: column;

}

.nav-group {
  flex-grow: 1;
  
}

.switch-tabs-button{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: var(--space-md);
  /* border-bottom: 1px solid var(--gray-100); */
  /* padding-right: var(--space-sm);  */
  box-sizing: border-box;

}

.nav-btn {
  padding: var(--space-sm);
  font-size: var(--fs-button);
  font-weight: 500;
  width: calc(100% + 1px);
  z-index: 70;
  background: none;
  border: none;
  cursor: pointer;

  color: var(--color-text-muted);
  /* transition: color var(--t-fast); */
  position: relative;
  margin-right: -1px;
  
  transition: all 0.4s ease;
  /* box-shadow: var(--shd-low); */
  /* box-shadow: -4px 4px 10px -3px rgba(0,0,0,0.1);
  transition: transform var(--t-fast), box-shadow var(--t-fast); */

}

.nav-btn:hover{
  transform: translateY(-2px);
  box-shadow: -4px 4px 10px -3px rgba(0,0,0,0.8);
  /* box-shadow : var(--shd-high); */
  /* background-color: var(--gray-300); */
}

.nav-btn:active{
  transform: translateY(0);
  box-shadow: -4px 4px 10px -3px rgba(0,0,0,0.1);
  /* box-shadow: var(--shd-low); */
}

.nav-btn:not(.is-active):hover {
  color: var(--color-primary);
}

.nav-btn.is-active {
  color: var(--color-primary);
  margin-right: -1px;
  font-weight: 700;
  border-right: none;
  background-color: var(--color-surface);
  transform: none !important;
  box-shadow: none !important;
  cursor: default;

}

.nav-btn.is-active::after {
  content: '';
  position: absolute;
  inset: auto 0 -1px 0;
  height: 2px;
  background-color: var(--color-primary);
  
}

.options {
  display: grid;
  grid-template-columns: 1fr;
  border-right: 1px solid var(--gray-300);
  max-width: 0;
  width: 20rem;
  overflow: hidden;
  width: auto;
  transition: max-width 0.4s; 
}

.options.is-active { 
  max-width: 50rem; 
}

.options-panel.is-hidden {
  opacity: 0;
  pointer-events: none;
 
}

.options-panel{
  /* position: absolute; */
  grid-area: 1 / 1;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
  padding: var(--space-md);
}

.shortUserInfo {
}

.avatar {
}

.personal_info {
}

.userE-mail {
}



.nav-caption {
}

.is-active {
}
.icon-chart {
}
.icon-calc {
}
.only-user {
}
.is-none {
}
.only-admin {
}

/* ================= sidebar-control-panel ================= */
.sidebar-control-panel {
  position: absolute;
  bottom: var(--space-md); /* Отступ снизу */
  left: var(--space-md);   /* Отступ слева */
  display: grid;
  grid-template-columns: 1fr;
  /* animation: float 4s ease-in-out infinite; */

}

.sidebar-toggle {
  display: none; 

  width: auto;
  min-width: 1rem;
  max-width: 5rem; 
  
  height: auto;
  min-height: 1rem; 
  max-height: 5rem;
  padding: 0.5rem;

  border: none;
  border-radius: 50%;

  box-shadow: var(--shd-low);

  transition: transform var(--t-fast), box-shadow var(--t-fast);
  background-color: var(--accent-500);
  color: var(--color-surface);
 
}
/* .sidebar-toggle.is-active {
  display: inline-flex;
  align-items: center;
  justify-content: center;
} */

[data-status="user"] .sidebar-toggle {
    display: flex;
    /* Кнопка активна, так как гость видит форму */
} 

/* .sidebar:not(.is-none) .options:not(.is-active) ~ .content .btn-next {
    display: flex;
} */

/* .sidebar:not(.is-none) .options:not(.is-active) ~ .sidebar-toggle {
    display: none;
} */



.icon-design {
  width: 100%; 
  height: 100%;
  fill: none;

}

.btn-kros {
  grid-area: 1 / 1;
  transition: opacity 0.3s ease;
}

.btn-burger {
  grid-area: 1 / 1;
  transition: opacity 0.3s ease;
}

.btn-schevrone {
  grid-area: 1 / 1;
  transition: opacity 0.3s ease;
}

.sidebar-toggle:hover {
  transform: translateY(-2px);
  background-color: var(--color-accent-hover);
  box-shadow: var(--shd-high);
}

.sidebar-toggle:active {
  transform: translateY(0px);
   background-color: var(--color-accent-hover);
  /* box-shadow: var(--shd-high); */
}

.icon-chevron {
  transform: translateX(-1px);
}


.icon-close {
}

.icon-menu {
}
.line-top {
}
.line-mid {
}
.line-bot {
}







.sidebar-toggle {
  /* background-color: var(--accent-500);
  color: #ffffff;
  border: none;
  border-radius: var(--br-md);
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: background-color var(--t-fast); */
}

.sidebar-toggle:hover {
  /* background-color: var(--accent-700); */
}

/* Скрываем шеврон по умолчанию */
.sidebar-toggle .icon-chevron {
  /* display: none; */
}

/* При ховере прячем сэндвич и показываем шеврон */
.sidebar-toggle:hover .icon-menu {
  /* display: none; */
}

.sidebar-toggle:hover .icon-chevron {
  /* display: block; */
}

/* ================= AUTH OVERLAY ================= */
.auth-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.auth-backdrop{
  position: absolute;
  
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);

  transition: opacity var(--t-fast);
  z-index: -1;
}



/* ================= AUTH CARD ================= */
.auth-card {
  position: relative;
  display: flex;
  flex-direction: column;

  padding: var(--space-lg);
  width: fit-content;
  min-width: 18rem;

  background-color: var(--color-bg);
  border-radius: var(--br-md);
  box-shadow: var(--shd-high);

  border: 1px solid rgba(0,0,0,0.05);

  transform: translateY(0);
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  animation: float 4s ease-in-out infinite;

  z-index: 1000;
}

@keyframes float {
  0% { transform: translate(0, 0); }
  33% { transform: translate(3px, -2px); }
  66% { transform: translate(-3px, -2px); }
  100% { transform: translate(0, 0); }
}

/* ================= TABS ================= */
.switch-tabs {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  width: 100%;
  margin-bottom: var(--space-md);
  border-bottom: 1px solid var(--gray-100);
  padding-right: var(--space-sm); /* Резервируем место под крестик, чтобы табы под него не заплывали */
  box-sizing: border-box;
}

.switch-tabs button {
  padding: var(--space-sm);
  font-size: var(--fs-button);
  font-weight: 500;

  background: none;
  border: none;
  cursor: pointer;

  color: var(--color-text-muted);
  transition: color var(--t-fast);
  position: relative;
}

.switch-tabs button:not(.is-active):hover {
  color: var(--color-primary);
}

.switch-tabs button.is-active {
  color: var(--color-primary);
  font-weight: 700;
}

.switch-tabs button.is-active::after {
  content: '';
  position: absolute;
  inset: auto 0 -1px 0;
  height: 2px;
  background-color: var(--color-primary);
}

/* ================= EXIT BUTTON ================= */
.btn-exit {
  position: absolute;
  top: var(--space-sm);
  right: var(--space-sm);
  line-height: 1;
  width: 1.6rem;
  height: 1.6rem;
  z-index: 8;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-text-muted);
  background-color: var(--gray-100);
  border: 1px solid var(--gray-300);
  border-radius: var(--br-sm);

  cursor: pointer;
  transition: background-color var(--t-fast), color var(--t-fast);
  
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.btn-exit:hover {

  background-color: var(--color-error);
  color: var(--color-surface);
}
.btn-exit svg {
    width: 80%;  /* Крестик будет занимать 60% от размера кнопки */
    height: 80%;
    display: block; /* Убираем лишние зазоры */
}

.btn-exit:hover svg path {
    stroke-width: 3; /* Сделаем крестик жирнее при наведении */
    transition: stroke-width 0.2s ease;
}

/* ================= CONTENT / FORMS ================= */
.auth-content {
  display: grid;
  grid-template-columns: 1fr;
}

.auth-form-login{
  grid-area: 1 / 1;
  transition: opacity 0.3s ease;
}

.auth-form-reg{
  grid-area: 1 / 1;
  transition: opacity 0.3s ease;
}

.auth-card form {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.auth-spacer {
  flex-grow: 1; /* Забирает всё свободное пространство */
  min-height: var(--space-md);
}

/* ================= LABEL / INPUT ================= */
.auth-card label {
  font-size: var(--fs-button);
  font-weight: 500;
  color: var(--color-text-muted);
  margin-bottom: calc(var(--space-xs) * -1);
}

.auth-card input {
  width: 10rem;
  min-width: 100%;
  /* width: 10rem;             Занимать всё место внутри карточки */
   /*max-width: 100%;         /*Не вылезать за рамки ни при каких условиях*/
  /* min-width: 0;
  display: block;          /* Чтобы не было inline-глюков */
  box-sizing: border-box;
  display: block;
  /* max-width: 100%; */
  padding: var(--space-xs) var(--space-sm);
  font-size: var(--fs-base);

  border-radius: var(--br-sm);
  border: 1px solid var(--gray-500);
  background-color: var(--gray-100);
  transition: all var(--t-fast) ease;

  border-color: var(--gray-300);
}

.auth-card input:hover {
  /* background-color: var(--gray-50); Инпут как бы "подсвечивается" изнутри */
  border-color: var(--gray-500);    /* Граница становится чуть строже */
}

.auth-card input:focus {
  outline: none;
  background-color:var(--color-surface);
  border-color: var(--color-primary);
  box-shadow: 0 0 0 3px var(--primary-100);
}

/* input:focus::placeholder {
  transition: opacity 0.3s ease;
    opacity: 0;
} */


/* ================= SUBMIT BUTTON ================= */
.btn-submit {
  margin-top: var(--space-lg);
}


/* ================= Status buttons ================= */
/* .auth-box .btn-sign-in, 
.auth-box .btn-profile, 
.auth-box .btn-admin { 
  display: none; 
}


.auth-box[data-status="guest"] .btn-sign-in { display: inline-flex; }


.auth-box[data-status="user"] .btn-profile { display: inline-flex; }


.auth-box[data-status="admin"] .btn-admin { display: inline-flex; }  */





/* Показываем нужное */

body[data-status="guest"] .btn-sign-in { display: inline-block; }

body[data-status="guest"] .btn-profile { display: none; }

body[data-status="guest"] .btn-admin { display: none; }



body[data-status="user"] .btn-sign-in { display: none; }

body[data-status="user"] .btn-profile { display: inline-block; }

body[data-status="user"] .btn-admin { display: none; }



body[data-status="admin"] .btn-sign-in { display: none; }

body[data-status="admin"] .btn-profile { display: none; }

body[data-status="admin"] .btn-admin { display: inline-block; }





/* ================= VISIBILITY ================= */
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-none {
  display: none !important;
}



/* Для Инпутов (Поля ввода):

Убери стандартные рамки: border: 1px solid var(--gray-300).

Добавь transition: border-color 0.3s.

При focus (когда кликаешь в поле) меняй цвет рамки на наш Teal (--color-primary-500). */